@{
    ViewData["Title"] = "Home Page";
}

<div class="cart">
    <a href="#">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-number">0</span>
    </a>
</div>
<section class="product">
    <div class="card__content">
        @for (int i = 0; i < 10; i++)
        {
            var cardId = "card" + i;
            var counterId = "counter" + i;
            

            <div class="card" id="@cardId">
                <div class="image">
                    <div class="img__blog">
                        <img class="card__img" src="https://res.cloudinary.com/feeniks/image/upload/v1648634100/SDU_campaign/default-product-image_bl5v68.png" alt="">
                        <div class="image__content">
                            <p class="img__text">Product</p>
                            <p class="img__cost">xxxx sum</p>
                        </div>
                    </div>
                </div>

                <p class="card__info">This product</p>

                <div class="card__calculate">
                    <div class="calculate__content">
                        <div class="minus" id="cardBtn" data-symbol="-" onclick="decreaseCounter('@counterId')"><i class="fas fa-minus"></i></div>
                        <div id="@counterId" class="input">0</div>
                        <button onclick="increaseCounter('@counterId')">
                            <div class="plus" id="cardBtn" data-symbol="+">
                                <i class="fas fa-plus"></i>
                            </div>
                        </button>
                    </div>
                    <div id="@counterId" class="product__price">
                        <span class="price">0</span>sum
                    </div>
                </div>
            </div>
        }
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</section>
<script>
    function increaseCounter(counterId) {
        let counterElement = document.getElementById(counterId)
        let currentValue = parseInt(counterElement.innerText);
        let newValue = currentValue + 1;
        counterElement.innerText = newValue;
    }

    function decreaseCounter(counterId) {
        let counterElement = document.getElementById(counterId)
        let currentValue = parseInt(counterElement.innerText);
        let newValue = currentValue - 1;
        if (newValue < 0) {
            newValue = 0;
        }
        counterElement.innerText = newValue;
    }
</script>


<style>
    .cart {
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 9999;
    }

        .cart a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-decoration: none;
            color: #333;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        .cart i {
            font-size: 20px;
        }

    .cart-number {
        display: inline-block;
        background-color: #f00;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
        margin-left: 5px;
    }

    .product{
    width: 95%;
    margin: 50px auto 50px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.185);
}
.card__content{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    background: #f1f3f8;
    padding: 15px;
    border-radius: 10px;
    border-right: 1px solid #e7e8ec;
    border-left: 1px solid #e7e8ec;
}

.card__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.img__blog{
    position: relative;
}

.image__content:hover{
    background: none;
    opacity: 0;
}
.image__content:hover .img__text,
.image__content:hover .img__cost{
    pointer-events: none;
}
.image__content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.650), transparent);
    transition: 0.5s;
}
.img__text, .img__cost{
    font-size: 24px;
    font-weight: 700;
}
.img__text{
    font-family: sans-serif;
    font-size: 26px;
    text-transform: uppercase;
}
.card__info{
    margin: 20px 0;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.750);
    background: #f1f3f8;
    line-height: 30px;
    text-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.card__calculate{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: #e9ebee;
    border-radius: 5px;
    border: 1px solid rgb(214, 220, 221);
}
.calculate__content{
    display: flex;
}
.calculate__content i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.minus{
    padding: 0px 15px;
    font-size: 20px;
    background: #fd1515;
    border: 2px solid #fd1515;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}
.minus:hover{
    transform: scale(0.9);
}

.input{
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.300);
    padding: 10px 40px;
    margin: 0 10px;
    border-radius: 5px;
}
.plus{
    padding: 0px 15px;
    font-size: 20px;
    background: #09ff00;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.plus:hover{
    transform: scale(0.9);
}

.product__price{
    font-size: 32px;
    padding-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.product__price .price{
    padding-right: 5px;
}
.product__caloria{
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.caloria{
    padding-right: 5px;
}

.delivery__blog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.delivery, .send__button, .pay__button{
    position: relative;
    width: 150px;
    height: 50px;
    letter-spacing: 1px;
    border-radius: 10px;
    background: #09ff00;
    color: #fff;
    border: 2px solid #09ff00;
    cursor: pointer;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    transition: all .5s;
    overflow: hidden;
}
.delivery:hover, .send__button:hover, .pay__button:hover{
    background: none;
    color: #09ff00;
}

#rippleBtn span{
    position: absolute;
    transform: translate(-50%, -50%);
    background: #09ff00;
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear infinite;
}
@@keyframes animate {
    
    0%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
</style>